:root {
    --blueHL: #1aaadf;
    --white: #ffffff;
    --background: #111111;
    --grey: #888888;
    --expirenceCardBackground: #191919;
    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    --font-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    --color-subtext: #888888;
}

/* Body and General Layout */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--background);
    color: var(--white);
    font-family: var(--font-sans);
    line-height: 1.5;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.content {
    max-width: 100%;
    margin: 0 auto;
    padding-top: 4rem;
}

/* Header and Navigation */
.site-header {
    margin: 10px 0;
}

.site-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    font-family: var(--font-mono);
    font-size: 1.4rem;
}

.site-nav a {
    color: var(--white);
    text-decoration: none;
    padding: 1.2rem;
    transition: color 0.3s;
}

.site-nav li {
    font-size: 1.1rem;
    padding-bottom: 10px;
    padding-left: 30px;
}

.site-nav a:hover {
    color: var(--blueHL);
}

.logo {
    font-weight: bold;
    font-size: 1.4rem;
}

.main-menu {
    display: flex;
    list-style: none;
}

@media screen and (max-width: 61rem) {
    .site-nav {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 1rem;
    }

    .site-nav li {
        padding-left: 1rem;
    }

    .main-menu {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding-left: 1rem;
    }

    .site-nav a {
        padding: 0.5rem 0;
        text-align: left;
        width: auto;
    }
}

/* Hero Section */
.hero {
    padding: 50px 0;
    margin-top: 25px;
    display: flex;
    align-items: center;
}

.hero-container {
    width: 80%;
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 1000px;
    text-align: center;
    border: 1px solid #333;
    border-radius: 10px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 0;
    padding-bottom: 10px;
}

.name-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.hero-name {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: left;
}

.external-links {
    display: flex;
    gap: 10px;
    margin: -15px;
}

.link-container {
    position: relative;
    display: inline-block;
}

.tooltiptext {
    visibility: hidden;
    opacity: 0;
    white-space: nowrap;
    padding: 5px 10px;
    width: fit-content;
    background-color: var(--expirenceCardBackground);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    bottom: 101%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    transition: opacity 0.3s ease;
}

.link-container:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.link-btn {
    display: inline-block;
    padding: 5px 12px;
    border: 1px solid #333;
    border-radius: 8px;
    text-decoration: none;
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s;
}

.link-btn:hover {
    background-color: #333;
    color: #fff;
}

.typing-line {
    margin-top: -10px;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: left;
}

.typing {
    color: var(--blueHL);
}

.hero .short-description {
    margin-top: -10px;
    font-size: 1.2rem;
    color: var(--color-subtext);
    text-align: left;
}
@media (max-width: 650px) {
    .hero {
        padding: 25px 0;
        margin-top: 0px;
    }
    .hero-name {
        font-size: 2.2rem;
        font-weight: bold;
        text-align: left;
    }
    .link-btn {
        padding: 3px 10px;
        font-size: 1.8rem;
    }
    .typing-line {
        margin-top: -10px;
        font-size: 1.3rem;
    }
    .hero .short-description {
        margin-top: 0px;
        font-size: 1rem;
        color: var(--white);
    }
}


/* Skills Section */
.skills {
    padding: 50px 0;
}

.skills-list {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.icon-container-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.icon-container {
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 40px;
    animation: scroll-top 35s linear infinite;
    position: relative;
}

.icon-container2 {
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin-top: 15px;
    gap: 40px;
    animation: scroll-bottom 35s linear infinite;
    position: relative;
}

@keyframes scroll-top {
    0% {
        transform: translateX(-60px);
    }
    100% {
        transform: translateX(-920px);
    }
}

@keyframes scroll-bottom {
    0% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(-945px);
    }
}

.icon-item {
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    color: var(--white);
}

.icon-item i {
    margin-right: 10px;
}

.icon-container-wrapper::before,
.icon-container-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    width: 50px;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

.icon-container-wrapper::before {
    left: 0;
    background: linear-gradient(to right, rgba(17, 17, 17, 1), rgba(17, 17, 17, 0));
}

.icon-container-wrapper::after {
    right: 0;
    background: linear-gradient(to left, rgba(17, 17, 17, 1), rgba(17, 17, 17, 0));
}

@media (max-width: 650px) {
    .icon-item {
        font-size: 1.1rem;
    }
    .icon-item i {
        font-size: 1rem;
        margin-right: 6px;
    }
    .icon-container {
        gap: 25px;
        animation: scroll-top 30s linear infinite;
    }
    .icon-container2 {
        gap: 25px;
        animation: scroll-bottom 30s linear infinite;
    }
    @keyframes scroll-top {
        0% {
            transform: translateX(-40px);
        }
        100% {
            transform: translateX(-708px);
        }
    }
    
    @keyframes scroll-bottom {
        0% {
            transform: translateX(0px);
        }
        100% {
            transform: translateX(-745px);
        }
    }
}


/* Experience Section */
.experience {
    margin-top: 50px;
    padding: 25px 50px;
}
.experience h2{
    margin-left: 60px;
}

.experience-container {
    position: relative;
    margin: 0 auto;
    padding-left: 5px;
}

.experience-entry {
    position: relative;
    margin-bottom: 30px;
    padding-left: 50px;
}

.circle {
    position: absolute;
    left: -15px;
    top: 50%;
    font-size: 1.8rem;
    color: var(--blueHL); /* Light blue color for the bullet point icon */
    z-index: 0;
}

/* Line between circles using pseudo-element */
.experience-entry::before {
    content: '';
    position: absolute;
    left: -3px; /* Aligns with the center of the circle icon */
    top: 60%; /* Starts from the bottom of the circle */
    bottom: -71%; /* Extends down to the next entry */
    width: 3px; /* Line width */
    background-color: var(--blueHL); /* Light blue color for the line */
    z-index: -1; /* Place the line behind the circles */
}

/* Remove line for the last entry */
.experience-entry:last-child::before {
    display: none;
}

.experience-content {
    padding: 5px 20px;
    border: 1px solid #333;
    border-radius: 8px;
}

.company-name {
    margin-top: 10px;
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--blueHL);
    margin-bottom: 10px;
}

.job-title {
    font-size: 1.1rem;
    font-style: italic;
    color: var(--white);
    margin: 5px 0;
}

.date {
    font-size: 1rem;
    color: var(--color-subtext);
    margin-bottom: 10px;
}

.experience .short-description {
    font-size: 1.1rem;
    line-height: 1.6;
    color: var(--white);
    margin-top: 10px;
}

/* Icon Styling */
.circle i {
    position: relative;
    top: 4px;
}

/* Responsive Layout Adjustments */
@media (max-width: 650px) {
    .experience {
        margin-top: 0px;
        padding: 15px 25px;
    }
    .experience h2{
        margin-left: 0;
    }
    .experience-container {
        padding-left: 5px;
    }
    .circle {
        left: -13px;
        font-size: 1.4rem;
    }
    .experience-entry {
        padding-left: 25px;
    }

    .experience-content {
        padding: 15px;
    }

    .company-name {
        margin-top: -5px;
        font-size: 1.2rem;
    }
    .job-title {
        font-size: 1rem;
    }

    .short-description {
        font-size: 0.9rem;
    }
}

/* Projects Section */
.projects {
    padding: 50px 0;
}

.project-cards {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.project-card {
    position: relative;
    border: 1px solid #27272a; /* Keep the border the same */
    border-radius: 10px;
    outline: none;
    transform-origin: center;
    border-radius: 10px;
    background-color: #191919;
    overflow: hidden;
    transition: transform 0.3s;
    text-decoration: none;
}
.project-card:focus,
.project-card:hover {
    outline: none;
}
.project-card:hover {
    transform: scale(1.05);
    border: none;
    outline: none;
}

.project-card img {
    z-index: auto;
}

.image-container {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.image-container img {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.title-background {
    z-index: 2;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    padding: 15px;
    padding-left: 10px;
    background: linear-gradient(to top, rgba(25, 25, 25, 1) 10%, rgba(25, 25, 25, 0), transparent);
    transition: all 0.5s ease;
}

.project-card:hover .title-background {
    padding: 5px
}

.title {
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: left;
    transition: all 0.5s ease;
}
.project-details {
    transform: translateY(30px);
    padding: 0 10px;
    padding-bottom: 20px;
    transition: all 0.5s ease;
}
.project-card:hover .title,
.project-card:hover .project-details {
    transform: translateY(5px);
}

.project-details p {
    font-size: 1rem;
    color: var(--color-subtext);
    margin-bottom: 15px;
    text-decoration: none;
}

.learn-more-btn {
    transform: translateY(20px);
    opacity: 0;
    display: inline-block;
    visibility: hidden;
    padding: 5px 10px;
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--blueHL);
    border: 1px solid var(--blueHL);
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.learn-more-btn:hover {
    color: var(--background);
    background-color: var(--blueHL);
    border-color: var(--background);
}

.project-card:hover .learn-more-btn {
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
}

.project-details a {
    color: var(--blueHL);
    text-decoration: none;
    font-weight: 600;
}

.project-details a:hover {
    text-decoration: underline;
}

/* Contact Section */
.contact-container {
    text-align: center;
    padding: 50px 0;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.contact-container a {
    display: inline-block;
    padding: 10px 20px;
    color: var(--white);
    background-color: var(--background);
    border: 1px solid #333;
    border-radius: 8px;
    text-decoration: none;
}

.contact-container a:hover {
    background-color: #333;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
}

.footer-container {
    text-align: center;
    border-top: 1px solid #313131;
    min-width: 80%;
    margin: 2rem auto;
    margin-top: 5rem;
    color: var(--color-subtext);
}

.footer-container a {
    color: var(--grey);
    text-decoration: none;
    margin: 0 10px;
}

.footer-container a:hover {
    text-decoration: underline;
    color: var(--blueHL);
}

@media (max-width: 1100px) {
    .home h1 {
        font-size: 2rem;
    }

    .home p {
        font-size: 1.2rem;
    }

    .body {
        max-width: 100%;
    }
    .hero, .projects, .skills {
        padding: 1rem;
    }
}
